@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@400;500;600;700&display=swap");

:root {
  --background: #E6F0EDCC;
}

@theme inline {
  --color-background: var(--background);
  --font-sans: "Geist Mono", monospace;
}

body {
  font-family: "Geist Mono", monospace;
  color: #000;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--background);
  background-image: radial-gradient(circle, rgba(14, 46, 40, 0.19) 1px, transparent 1px);
  background-size: 20px 20px;
  z-index: -1;
  pointer-events: none;
}

/* Infinite marquee animation */
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: inline-block;
  min-width: 100%;
  animation: marquee 25s linear infinite;
}

.animate-marquee.paused {
  animation-play-state: paused;
}

::selection {
  background-color: #0E2E28;
  color: #CDFA8A;
}

::-moz-selection {
  background-color: #0E2E28;
  color: #CDFA8A;
}